# Pandas Excercises
## Excercise 1
### Get rid of useless columns

In [243]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Richa\\Documents\\SkillStorm Python\\Data\\imdb_top_1000.csv")
new_df = df.drop(["Poster_Link","Certificate","Overview"], axis="columns")
new_df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

### Oldest movie

In [244]:
df_clean_years = df[df["Released_Year"].str.isnumeric() ==True]
df_years_asc = df_clean_years.sort_values("Released_Year")
df_years_asc.reset_index(inplace=True,drop=True)
df_years_asc.at[0, "Series_Title"]

'Das Cabinet des Dr. Caligari'

### Newest movie

In [245]:
df_years_desc = df_clean_years.sort_values("Released_Year", ascending=False)
df_years_desc.reset_index(inplace=True,drop=True)
df_years_desc.at[0, "Series_Title"]

'Druk'

### Top 10 movies by IMDB rating

In [246]:
df_imdb_desc = df_clean_years.sort_values("IMDB_Rating", ascending=False)
df_imdb_desc.reset_index(inplace=True,drop=True)
df_imdb_desc.loc[0:10, "Series_Title"]

0                          The Shawshank Redemption
1                                     The Godfather
2                                      12 Angry Men
3                                   The Dark Knight
4                            The Godfather: Part II
5     The Lord of the Rings: The Return of the King
6                                  Schindler's List
7                                      Pulp Fiction
8                                         Inception
9                   Il buono, il brutto, il cattivo
10                                     Forrest Gump
Name: Series_Title, dtype: object

### Top movie for each genre

In [247]:
df_genres = df_clean_years.copy()
df_genres["Genres"] = df_clean_years["Genre"].str.split(", ")
df_genres = df_genres.explode("Genres")
df_genres = df_genres.sort_values("IMDB_Rating", ascending=False)
df_genres.drop_duplicates(subset="Genres", inplace=True)
print(df_genres[["Genres", "Series_Title", "IMDB_Rating"]])

        Genres                                    Series_Title  IMDB_Rating
0        Drama                        The Shawshank Redemption          9.3
1        Crime                                   The Godfather          9.2
2       Action                                 The Dark Knight          9.0
7      History                                Schindler's List          8.9
7    Biography                                Schindler's List          8.9
5    Adventure   The Lord of the Rings: The Return of the King          8.9
11     Romance                                    Forrest Gump          8.8
12     Western                 Il buono, il brutto, il cattivo          8.8
8       Sci-Fi                                       Inception          8.8
16     Fantasy  Star Wars: Episode V - The Empire Strikes Back          8.7
23   Animation                   Sen to Chihiro no kamikakushi          8.6
26      Comedy                                 La vita è bella          8.6
27     Mystery                                           Se7en          8.6
19    Thriller                                    Gisaengchung          8.6
32      Family                           It's a Wonderful Life          8.6
24         War                             Saving Private Ryan          8.6
34       Music                                        Whiplash          8.5
49      Horror                                          Psycho          8.5
82   Film-Noir                                    Sunset Blvd.          8.4
76     Musical                                           Anand          8.4
100      Sport                               Bacheha-Ye aseman          8.3

### Director with the most movies

In [248]:
df_clean_years["Director"].value_counts().index[0]

'Alfred Hitchcock'

### Star with the most movies

In [249]:
df_stars = df_clean_years
df_stars["Stars"] = df_stars[["Star1","Star2","Star3","Star4"]].values.tolist()
df_stars = df_stars.explode("Stars")
df_stars["Stars"].value_counts().index[0]

C:\Users\Richa\AppData\Local\Temp\ipykernel_23284\2159769853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stars["Stars"] = df_stars[["Star1","Star2","Star3","Star4"]].values.tolist()

'Robert De Niro'

### Highest grossing movie for each genre

In [250]:
df_clean_gross = df_clean_years.copy()
df_clean_gross.dropna(axis=0, inplace=True)
df_clean_gross["Gross"] = df_clean_gross["Gross"].str.replace(",","").astype(int)
df_genres = df_clean_gross.copy()
df_genres["Genres"] = df_clean_gross["Genre"].str.split(", ")
df_genres = df_genres.explode("Genres")
df_genres = df_genres.sort_values("Gross", ascending=False)
df_genres.drop_duplicates(subset="Genres", inplace=True)
print(df_genres[["Genres", "Series_Title", "Gross"]])

        Genres                                Series_Title      Gross
477     Sci-Fi  Star Wars: Episode VII - The Force Awakens  936662225
477     Action  Star Wars: Episode VII - The Force Awakens  936662225
477  Adventure  Star Wars: Episode VII - The Force Awakens  936662225
59       Drama                           Avengers: Endgame  858373000
623    Fantasy                                      Avatar  760507625
652    Romance                                     Titanic  659325379
891  Animation                               Incredibles 2  608581744
2        Crime                             The Dark Knight  534858444
688     Family                  E.T. the Extra-Terrestrial  435110554
596     Comedy                                 Toy Story 4  434038008
33    Thriller                                       Joker  335451311
248    Mystery                             The Sixth Sense  293506292
915      Sport                              The Blind Side  255959475
915  Biography                              The Blind Side  255959475
419     Horror                                The Exorcist  232906145
24         War                         Saving Private Ryan  216540909
342      Music                           Bohemian Rhapsody  216428042
314    History                          Gone with the Wind  198676459
402    Western                          Dances with Wolves  184208848
422    Musical                         Fiddler on the Roof   80500000
559  Film-Noir                                   Notorious   10464000

### Lowest grossing movie for each director

In [251]:
df_directors = df_clean_gross.copy()
df_directors = df_directors.sort_values("Gross", ascending=True)
df_directors.drop_duplicates(subset="Director", inplace=True)
print(df_directors[["Director", "Series_Title", "Gross"]])

                 Director       Series_Title      Gross
630  Anders Thomas Jensen        Adams æbler       1305
624      Jaco Van Dormael         Mr. Nobody       3600
356          José Padilha     Tropa de Elite       8060
190  Joseph L. Mankiewicz      All About Eve      10177
187      Alfred Hitchcock  Dial M for Murder      12562
..                    ...                ...        ...
330          Byron Howard           Zootopia  341268248
348            Tim Miller           Deadpool  363070709
43           Roger Allers      The Lion King  422783777
596           Josh Cooley        Toy Story 4  434038008
582        Gareth Edwards          Rogue One  532177324

[402 rows x 3 columns]

### Save the dataframe as a parquet file

In [252]:
df_clean_gross.to_parquet("C:\\Users\\Richa\\Documents\\SkillStorm Python\\df_clean_gross.parquet")

### Aggregate the gross revenue for all 1000 movies.

In [253]:
print(df_clean_gross["Gross"].sum())

55884861928